* {
    margin: 0;
    padding: 0;
}
header, main, footer, nav{
    display: block;
    font-family:Arial, Helvetica, sans-serif;    
}
a{
    text-decoration: none;
    color: #FFFFFF;
}
header{    
    background-color: #ED4C5C;
    color: #FFFFFF;
    text-transform: uppercase;
}
#logo {
    width: 24.65px;
    height: 17.4px;
    margin-left: 51.45px;
    margin-top: 60.8px;
}
header>span{
    width: 152px;
    height: 22px;
    margin-left: 87px;
    margin-top: 59px;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    align-items: center;
}
header>nav{
    position: absolute;
    width: 445px;
    height: 22px;
    margin-left: 50px;
    margin-top: 129px;
    font-style: normal;
    font-size: 14px;
    line-height: 17px;
    align-items: center;
}
header>nav>a{
    margin-left: 10px;
    text-decoration: none;
    color: #FFFFFF;
}
header>nav>a:hover{
    color: darkgray;
}
main>section.s1{
    background-color: #ED4C5C;
    text-transform: uppercase;
}
main>section.s1>img{
    width: 445px;
    height: 311px;
    margin-left: 90px;
    margin-top: 196px;
    border-radius: 15px;
}
main>section.s1>button{
    width: 160px;
    height: 50px;
    margin-left: 51px;
    margin-top: 45px;
    margin-bottom: 55px;
    background-color: #ED4C5C;
    background: #FFFFFF;
    color:#ED4C5C;
    border-radius: 6px;
    size: 14px;
}
main>section>h1{
    width: 445px;
    height: 89px;
    margin-left: 50px;
    margin-top: 56px;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    color: #000000;
}
main>section>p{
    width: 445px;
    height: 83px;
    margin-left: 50px;
    margin-top: 30px;
    font-size: 14px;
    line-height: 140%;
    text-align: justify;
    color: #000000;
}
main>section>a{
    text-decoration: none;
    width: 71px;
    height: 26.28px;
    margin-left: 50px;
    margin-top: 20px;
    font-size: 14px;
    line-height: 140%;
    text-align: justify;
    color: #ED4C5C;
}
main>section.s2>img{
    margin-left: 30px;
    width: 350px;
    height: 248.86px;
    margin-top: 40.72px;
    border-radius: 8px;
}
main>section.s2>img.left-thing{
    margin-left: 50px;
}
main>section.s3{
    margin-left: 30px;
    display:inline-block;
    text-decoration: none;
    width: 350px;
    height: 40px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #ED4C5C;
}
main>section.s3>a.left-thing{
    margin-left: 50px;
}
main>section.s4{
    color: 000000;
    height: 657px;
    margin-top: 63px;
    background: #F5F4F4;
}
main>section.s4>h2{
    display:block;
    width: 300px;
    height: 47px;
    margin-left: 50px;
    margin-top: 120px;
    font-size: 36px;
    line-height: 100px;
    color: #000000;
}
main>section.s4>a>section{
    margin-left: 30px;
    display:inline-block;
    text-decoration: none;
    width: 255px;
    height: 226px;
    margin-top: 56px;
    background-color: #FFFFFF;
    align-items: center;
}
main>section.s4>a>section.left-thing{
    margin-left: 50px;
}
main>section.s4>a>section>img{
    width: 70px;
    height: 60px;
    margin-left: 92px;
    margin-top: 56px;
    background-color: #FFFFFF;    
}
main>section.s4>a>section>h3{
    margin-top: 12.5px;
    text-align: center;
    background-color: #FFFFFF;
    width: 255px;
    height: 22px;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #101010;
}
main>section.s4>a>section>p{
    margin-top: 10px;
    text-align: center;
    background-color: #FFFFFF;
    width: 255px;
    height: 51px;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #000000;
}
footer{
    height: 80px;
    left: 0px;
    margin-bottom: 0px;
    background: #ED4C5C;
}
footer>a>img{
    height: 30px;
    width: 30px;
    margin-left: 25px;
    margin-top: 23px;
    background: #FFFFFF;
}
footer>a>img.left-thing{
    margin-left: 50px;
}
footer>span{
    width: 310px;
    height: 28px;
    margin-left: 80px;
    margin-top: 29px;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}